{% extends 'base.html.twig' %} {% block title %}Register{% endblock %} {% block
body %}

<h1 style="text-align: center; color: white">S'inscrire</h1>

{{ form_start(registrationForm) }}
{{
  form_label(registrationForm.username, "Pseudo", {
    attr: { class: "form-label" }
  })
}}
{{
  form_widget(registrationForm.username, { attr: { class: "form-control" } })
}}
{{
  form_label(registrationForm.plainPassword, "Mot de passe", {
    attr: { class: "form-label" }
  })
}}
{{
  form_widget(registrationForm.plainPassword, {
    attr: { class: "form-control" }
  })
}}
{{
  form_row(registrationForm.agreeTerms, {
    label: "Accecter le conditions générales d'utilisation"
  })
}}

<button type="submit" class="btn">S'inscrire</button>
{{ form_end(registrationForm) }}
{% endblock %}
