{% extends 'base.html.twig' %}
{% block title %}Produits
{% endblock %}
{% block
    body %}
	<div class="products">

		<div class="product-detail">
			<div class="detail-image">
				<img src={{ product.image }} alt="" srcset=""/>

			</div>

			<div class="detail-content">
				<h2 class="detail-title">{{ product.name }}</h2>
				<div class="typeandcategory">
					<span class="type">{{ product.productType.name }}</span>
					<span class="category">
						->
						{{ product.category.name }}</span>
				</div>
				<span class="detail-price">{{ product.price }}
					€</span>
				<p class="detail-description">{{ product.description }}</p>

			</div>

		</div>


	</a>


</div>{% endblock %}
